body{
  background-color: #ffffcc;
  font-family: 'Vollkorn', sans-serif;
  font-size: 20px;
}

.container h2 {
  text-align: center;
  font-size: 40px;
}

.container {
  margin-bottom: 4%;
}

.heading {
  height: 100px;
  width: 100%;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
}

.spacing {
  margin: 2% 0;
}

.form-width {
  width: 50%;
}

.table-margin {
  margin: 2% 0;
}

.campus-style h4 {
  font-size: 30px;
}

.campus-style {
  box-sizing: border-box;
  font-size: 20px;
  background-color: #BFEBFC;
  margin: 1% 0;
  padding: 2%;
  border-radius: 10px;
  text-align: center;
}
